---
layout: page
permalink: /articles/index.html
title: Articles
description: "An archive of posts sorted by date."
---

<ul class="post-list">
{% for post in site.posts %} 
  <li>
    <article>
       {% if site.display_content %}
        <a href="{{ site.url }}{{ post.url }}" style="color: #000000;">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>
        <div class="entry-content" style="margin-top: 25px; font-size: 1.2rem; color: #777777;" itemprop="description">
          <p>
              {% if post.description %}
                {{ post.description }}
              {% else %}
                {{ post.content | strip_html | strip_newlines | truncate: 500 }}
              {% endif %}
          </p>
          <a href="{{ site.url }}{{ post.url }}">  Continue reading</a>
          </p>
        </div><!-- /.entry-content -->
       {% else %}
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>
        <div class="entry-content" itemprop="description">
            <a href="{{ site.url }}{{ post.url }}"/>
            </p>
        </div><!-- /.entry-content -->
       {% endif %}
    </article>
  </li>
{% endfor %}
</ul>
