---
layout: page
permalink: /articles/index.html
title: Articles
description: "An archive of posts sorted by date."
---

<ul class="post-list">
{% for post in site.posts %} 
  <li>
    <article>
     <a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>

     <!--
      </p>
      <i>{{ post.content | truncate: 500 }}</i>
      </p>
      -->

        <div class="entry-content" itemprop="description">
          <p>
              {% if post.description %}
                {{ post.description }}
              {% else %}
                {{ post.content | strip_html | strip_newlines | truncate: 150 }}
              {% endif %}
          </p>
          <a href="{{ site.url }}{{ post.url }}">  Continue reading</a>
          </p>
        </div><!-- /.entry-content -->
    </article>
  </li>
{% endfor %}
</ul>
